In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = "/Users/extn0st/spark/Learning/SparkSQL/data"
file_path = data_path + "/utilization.csv"

In [4]:
df=spark.read.format('csv').option("header",True).load(file_path)

In [5]:
df.show()

+-------------+---------+--------+--------+------------+
|   event_date|server_id|min_temp|max_temp|temp_celcius|
+-------------+---------+--------+--------+------------+
|3/5/2019 8:06|      100|    0.57|    0.51|          47|
|3/5/2019 8:11|      100|    0.47|    0.62|          43|
|3/5/2019 8:16|      100|    0.56|    0.57|          62|
|3/5/2019 8:21|      100|    0.57|    0.56|          50|
|3/5/2019 8:26|      100|    0.35|    0.46|          43|
|3/5/2019 8:31|      100|    0.41|    0.58|          48|
|3/5/2019 8:36|      100|    0.57|    0.35|          58|
|3/5/2019 8:41|      100|    0.41|     0.4|          58|
|3/5/2019 8:46|      100|    0.53|    0.35|          62|
|3/5/2019 8:51|      100|    0.51|     0.6|          45|
|3/5/2019 8:56|      100|    0.32|    0.37|          47|
|3/5/2019 9:01|      100|    0.62|    0.59|          60|
|3/5/2019 9:06|      100|    0.66|    0.72|          57|
|3/5/2019 9:11|      100|    0.54|    0.54|          44|
|3/5/2019 9:16|      100|    0.29|     0.4|          47|
|3/5/2019 9:21|      100|    0.43|    0.68|          66|
|3/5/2019 9:26|      100|    0.49|    0.66|          65|
|3/5/2019 9:31|      100|    0.64|    0.55|          66|
|3/5/2019 9:36|      100|    0.42|     0.6|          42|
|3/5/2019 9:41|      100|    0.55|    0.59|          63|
+-------------+---------+--------+--------+------------+
only showing top 20 rows

Convert dataframe into a View suitable for running spark queries

In [6]:
df.createOrReplaceTempView("util")

Use .sql method to pull required columns as in SQL from the view 'util' created above

In [7]:
df_sql = spark.sql("select event_date as dt, server_id as sid from util limit 100")

In [8]:
df_sql.show()

+-------------+---+
|           dt|sid|
+-------------+---+
|3/5/2019 8:06|100|
|3/5/2019 8:11|100|
|3/5/2019 8:16|100|
|3/5/2019 8:21|100|
|3/5/2019 8:26|100|
|3/5/2019 8:31|100|
|3/5/2019 8:36|100|
|3/5/2019 8:41|100|
|3/5/2019 8:46|100|
|3/5/2019 8:51|100|
|3/5/2019 8:56|100|
|3/5/2019 9:01|100|
|3/5/2019 9:06|100|
|3/5/2019 9:11|100|
|3/5/2019 9:16|100|
|3/5/2019 9:21|100|
|3/5/2019 9:26|100|
|3/5/2019 9:31|100|
|3/5/2019 9:36|100|
|3/5/2019 9:41|100|
+-------------+---+
only showing top 20 rows

Add Filters and order by

In [9]:
df_sql = spark.sql("select event_date as dt, server_id as sid from util where server_id = 100 order by event_date desc").show()

+-------------+---+
|           dt|sid|
+-------------+---+
|4/9/2019 1:21|100|
|4/9/2019 1:16|100|
|4/9/2019 1:11|100|
|4/9/2019 1:06|100|
|4/9/2019 1:01|100|
|4/9/2019 0:56|100|
|4/9/2019 0:51|100|
|4/9/2019 0:46|100|
|4/9/2019 0:41|100|
|4/9/2019 0:36|100|
|4/9/2019 0:31|100|
|4/9/2019 0:26|100|
|4/9/2019 0:21|100|
|4/9/2019 0:16|100|
|4/9/2019 0:11|100|
|4/9/2019 0:06|100|
|4/9/2019 0:01|100|
|4/8/2019 9:56|100|
|4/8/2019 9:51|100|
|4/8/2019 9:46|100|
+-------------+---+
only showing top 20 rows

In [10]:
df.columns

['event_date', 'server_id', 'min_temp', 'max_temp', 'temp_celcius']

In [11]:
df.printSchema()

root
 |-- event_date: string (nullable = true)
 |-- server_id: string (nullable = true)
 |-- min_temp: string (nullable = true)
 |-- max_temp: string (nullable = true)
 |-- temp_celcius: string (nullable = true)

In [12]:
df.show()

+-------------+---------+--------+--------+------------+
|   event_date|server_id|min_temp|max_temp|temp_celcius|
+-------------+---------+--------+--------+------------+
|3/5/2019 8:06|      100|    0.57|    0.51|          47|
|3/5/2019 8:11|      100|    0.47|    0.62|          43|
|3/5/2019 8:16|      100|    0.56|    0.57|          62|
|3/5/2019 8:21|      100|    0.57|    0.56|          50|
|3/5/2019 8:26|      100|    0.35|    0.46|          43|
|3/5/2019 8:31|      100|    0.41|    0.58|          48|
|3/5/2019 8:36|      100|    0.57|    0.35|          58|
|3/5/2019 8:41|      100|    0.41|     0.4|          58|
|3/5/2019 8:46|      100|    0.53|    0.35|          62|
|3/5/2019 8:51|      100|    0.51|     0.6|          45|
|3/5/2019 8:56|      100|    0.32|    0.37|          47|
|3/5/2019 9:01|      100|    0.62|    0.59|          60|
|3/5/2019 9:06|      100|    0.66|    0.72|          57|
|3/5/2019 9:11|      100|    0.54|    0.54|          44|
|3/5/2019 9:16|      100|    0.29|     0.4|          47|
|3/5/2019 9:21|      100|    0.43|    0.68|          66|
|3/5/2019 9:26|      100|    0.49|    0.66|          65|
|3/5/2019 9:31|      100|    0.64|    0.55|          66|
|3/5/2019 9:36|      100|    0.42|     0.6|          42|
|3/5/2019 9:41|      100|    0.55|    0.59|          63|
+-------------+---------+--------+--------+------------+
only showing top 20 rows

Apply Aggregeation using SQL , use groupby , having and order by clause

In [13]:
df_sql = spark.sql("select server_id, avg(temp_celcius) as avg_temp\
                   from util \
                   group by server_id \
                   having avg_temp>50 \
                    order by 1 desc").show()

+---------+--------+
|server_id|avg_temp|
+---------+--------+
|      149| 81.9645|
|      148| 81.2747|
|      147| 59.3039|
|      146| 77.8002|
|      145| 85.7492|
|      144|   74.83|
|      143| 53.4296|
|      142| 77.8072|
|      141| 64.0031|
|      140| 74.5538|
|      139| 78.8032|
|      138| 51.0309|
|      137| 81.8962|
|      136| 67.9138|
|      135| 58.8371|
|      134| 60.4713|
|      133| 82.9917|
|      132| 60.0433|
|      131| 68.8114|
|      130|  63.061|
+---------+--------+
only showing top 20 rows

Create another df to join to util df

In [14]:
data_path = "/Users/extn0st/spark/Learning/SparkSQL/data"
file_path_s = data_path + "/server_name.csv"

In [15]:
df_s=spark.read.format('csv').option("header",True).load(file_path)

In [16]:
df_s.createOrReplaceTempView("server")

Use joins in ANSI SQL format to join two df

In [21]:
df_sql = spark.sql("select u.event_date as dt, s.server_id as sid \
                    from util u \
                    inner join server s \
                   on s.server_id = u.server_id \
                   where u.server_id = 100 order by u.event_date desc").show()

+-------------+---+
|           dt|sid|
+-------------+---+
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
|4/9/2019 1:21|100|
+-------------+---+
only showing top 20 rows