In [1]:
from pyspark.sql import SparkSession

Set Spark Context (representing a connection to a spark cluster )

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = "/Users/extn0st/spark/Learning/SparkSQL/data"
json_path = data_path +"./utilization.json"

Open json file. Multiline set to true consolidates a json element spread over multiple lines into one. Otherwise an exception will be thrown

In [4]:
df1=spark.read.format("json").option("multiline","true").load(json_path)

In [5]:
df1.count()

500000

In [6]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [7]:
df1.columns

['event_date', 'location_id', 'temp_celcius']

In [8]:
df2=df1.sample(False, fraction = 0.1)

In [9]:
df2.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 21:58:06|       loc0|          33|
|03/04/2019 22:18:06|       loc0|          29|
|03/05/2019 00:03:06|       loc0|          30|
|03/05/2019 00:13:06|       loc0|          33|
|03/05/2019 00:43:06|       loc0|          28|
|03/05/2019 01:18:06|       loc0|          28|
|03/05/2019 01:43:06|       loc0|          28|
|03/05/2019 02:28:06|       loc0|          33|
|03/05/2019 02:48:06|       loc0|          27|
|03/05/2019 03:03:06|       loc0|          31|
|03/05/2019 05:33:06|       loc0|          32|
|03/05/2019 11:58:06|       loc0|          29|
|03/05/2019 12:23:06|       loc0|          29|
|03/05/2019 12:33:06|       loc0|          27|
|03/05/2019 14:58:06|       loc0|          34|
|03/05/2019 15:08:06|       loc0|          29|
|03/05/2019 15:13:06|       loc0|          28|
|03/05/2019 16:48:06|       loc0|          27|
|03/05/2019 16:53:06|       loc0|          32|
+-------------------+-----------+------------+
only showing top 20 rows

In [10]:
df2.count()

50207

Sort the data set based on a column and display the results

In [13]:
df2.sort("event_date").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc8|          26|
|03/04/2019 19:48:07|       loc4|          25|
|03/04/2019 19:48:09|      loc18|          35|
|03/04/2019 19:48:10|      loc22|          30|
|03/04/2019 19:48:14|      loc44|          37|
|03/04/2019 19:48:16|      loc55|          27|
|03/04/2019 19:48:17|      loc58|          28|
|03/04/2019 19:48:18|      loc66|          34|
|03/04/2019 19:48:20|      loc73|          28|
|03/04/2019 19:48:21|      loc81|          25|
|03/04/2019 19:48:21|      loc79|          33|
|03/04/2019 19:48:22|      loc86|          26|
|03/04/2019 19:48:28|     loc116|          24|
|03/04/2019 19:48:29|     loc123|          21|
|03/04/2019 19:48:29|     loc122|          32|
|03/04/2019 19:48:30|     loc125|          31|
|03/04/2019 19:48:31|     loc133|          24|
|03/04/2019 19:48:37|     loc167|          32|
|03/04/2019 19:48:39|     loc173|          25|
|03/04/2019 19:48:42|     loc192|          27|
+-------------------+-----------+------------+
only showing top 20 rows

Show the sorted data

Use filter on a column

In [14]:
df2.filter(df2["location_id"]=='loc8').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc8|          26|
|03/04/2019 19:53:07|       loc8|          27|
|03/04/2019 20:18:07|       loc8|          27|
|03/04/2019 21:33:07|       loc8|          30|
|03/04/2019 22:08:07|       loc8|          33|
|03/04/2019 23:13:07|       loc8|          28|
|03/05/2019 00:48:07|       loc8|          32|
|03/05/2019 01:43:07|       loc8|          26|
|03/05/2019 01:53:07|       loc8|          26|
|03/05/2019 02:43:07|       loc8|          29|
|03/05/2019 02:53:07|       loc8|          31|
|03/05/2019 02:58:07|       loc8|          30|
|03/05/2019 03:08:07|       loc8|          28|
|03/05/2019 04:08:07|       loc8|          27|
|03/05/2019 04:18:07|       loc8|          30|
|03/05/2019 04:58:07|       loc8|          27|
|03/05/2019 05:18:07|       loc8|          26|
|03/05/2019 05:58:07|       loc8|          27|
|03/05/2019 06:33:07|       loc8|          30|
|03/05/2019 08:03:07|       loc8|          31|
+-------------------+-----------+------------+
only showing top 20 rows

In [15]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [16]:
df1.sort("location_id", ascending=False).show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:25|      loc99|          33|
|03/04/2019 21:28:25|      loc99|          33|
|03/04/2019 19:53:25|      loc99|          34|
|03/04/2019 19:58:25|      loc99|          32|
|03/04/2019 20:03:25|      loc99|          32|
|03/04/2019 20:08:25|      loc99|          31|
|03/04/2019 20:13:25|      loc99|          37|
|03/04/2019 20:18:25|      loc99|          35|
|03/04/2019 20:23:25|      loc99|          31|
|03/04/2019 20:28:25|      loc99|          34|
|03/04/2019 20:33:25|      loc99|          32|
|03/04/2019 20:38:25|      loc99|          34|
|03/04/2019 20:43:25|      loc99|          36|
|03/04/2019 20:48:25|      loc99|          34|
|03/04/2019 20:53:25|      loc99|          33|
|03/04/2019 20:58:25|      loc99|          32|
|03/04/2019 21:03:25|      loc99|          32|
|03/04/2019 21:08:25|      loc99|          31|
|03/04/2019 21:13:25|      loc99|          37|
|03/04/2019 21:18:25|      loc99|          32|
+-------------------+-----------+------------+
only showing top 20 rows

Use OrderBy to sort a data set in order. desc() method sorts in descending

In [17]:
df1.orderBy(df1["location_id"].desc()).show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:25|      loc99|          33|
|03/04/2019 21:28:25|      loc99|          33|
|03/04/2019 19:53:25|      loc99|          34|
|03/04/2019 19:58:25|      loc99|          32|
|03/04/2019 20:03:25|      loc99|          32|
|03/04/2019 20:08:25|      loc99|          31|
|03/04/2019 20:13:25|      loc99|          37|
|03/04/2019 20:18:25|      loc99|          35|
|03/04/2019 20:23:25|      loc99|          31|
|03/04/2019 20:28:25|      loc99|          34|
|03/04/2019 20:33:25|      loc99|          32|
|03/04/2019 20:38:25|      loc99|          34|
|03/04/2019 20:43:25|      loc99|          36|
|03/04/2019 20:48:25|      loc99|          34|
|03/04/2019 20:53:25|      loc99|          33|
|03/04/2019 20:58:25|      loc99|          32|
|03/04/2019 21:03:25|      loc99|          32|
|03/04/2019 21:08:25|      loc99|          31|
|03/04/2019 21:13:25|      loc99|          37|
|03/04/2019 21:18:25|      loc99|          32|
+-------------------+-----------+------------+
only showing top 20 rows

Use group by and apply aggregation

In [18]:
df1.count()

500000

Use agg function to get aggregated values after groupBy

In [19]:
df1.groupBy("location_ID").agg({"temp_celcius":"avg"}).show()

+-----------+-----------------+
|location_ID|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

In [20]:
df_output = df1.groupBy("location_ID").agg({"temp_celcius":"avg"})

In [21]:
df_output.show()

+-----------+-----------------+
|location_ID|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

Write dataframe output to a json file

In [ ]:
df_output.write.json('Averagereport.json')