In [4]:
from pyspark.sql import SparkSession

Set Spark Context (representing a connection to a spark cluster )

In [5]:
spark = SparkSession.builder.getOrCreate()

In [26]:
data_path = "/Users/extn0st/spark/Learning/SparkSQL/data"
json_path = data_path +"./utilization.json"

Open json file. Multiline set to true consolidates a json element spread over multiple lines into one. Otherwise an exception will be thrown

In [34]:
df1=spark.read.format("json").option("multiline","true").load(json_path)

In [35]:
df1.count()

500000

In [36]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [30]:
df1.columns

['event_date', 'location_id', 'temp_celcius']

In [37]:
df2=df1.sample(False, fraction = 0.1)

In [38]:
df2.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 21:33:06|       loc0|          27|
|03/04/2019 21:48:06|       loc0|          27|
|03/04/2019 22:38:06|       loc0|          27|
|03/04/2019 22:48:06|       loc0|          28|
|03/05/2019 00:43:06|       loc0|          28|
|03/05/2019 01:53:06|       loc0|          29|
|03/05/2019 02:28:06|       loc0|          33|
|03/05/2019 03:28:06|       loc0|          29|
|03/05/2019 03:53:06|       loc0|          30|
|03/05/2019 05:38:06|       loc0|          31|
|03/05/2019 05:48:06|       loc0|          27|
|03/05/2019 07:03:06|       loc0|          27|
|03/05/2019 07:48:06|       loc0|          28|
|03/05/2019 09:28:06|       loc0|          31|
|03/05/2019 10:33:06|       loc0|          29|
|03/05/2019 11:08:06|       loc0|          28|
|03/05/2019 12:03:06|       loc0|          31|
|03/05/2019 13:18:06|       loc0|          27|
|03/05/2019 13:43:06|       loc0|          30|
+-------------------+-----------+------------+
only showing top 20 rows

In [39]:
df2.count()

50173

Sort the data set based on a column and display the results

In [50]:
df2.sort("event_date").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc8|          26|
|03/04/2019 19:48:08|       loc9|          35|
|03/04/2019 19:48:09|      loc18|          35|
|03/04/2019 19:48:10|      loc23|          38|
|03/04/2019 19:48:10|      loc22|          30|
|03/04/2019 19:48:11|      loc29|          26|
|03/04/2019 19:48:13|      loc37|          30|
|03/04/2019 19:48:13|      loc40|          27|
|03/04/2019 19:48:14|      loc45|          31|
|03/04/2019 19:48:15|      loc46|          28|
|03/04/2019 19:48:16|      loc53|          21|
|03/04/2019 19:48:17|      loc57|          25|
|03/04/2019 19:48:17|      loc59|          29|
|03/04/2019 19:48:18|      loc62|          30|
|03/04/2019 19:48:25|      loc99|          33|
|03/04/2019 19:48:29|     loc122|          32|
|03/04/2019 19:48:32|     loc136|          32|
|03/04/2019 19:48:33|     loc142|          34|
|03/04/2019 19:48:35|     loc155|          25|
|03/04/2019 19:48:35|     loc152|          27|
+-------------------+-----------+------------+
only showing top 20 rows

Show the sorted data

In [51]:
df2_sorted.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc8|          26|
|03/04/2019 19:48:08|       loc9|          35|
|03/04/2019 19:48:09|      loc18|          35|
|03/04/2019 19:48:10|      loc22|          30|
|03/04/2019 19:48:10|      loc23|          38|
+-------------------+-----------+------------+
only showing top 5 rows

Use filter on a column

In [52]:
df2.filter(df2["location_id"]=='loc8').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc8|          26|
|03/04/2019 20:23:07|       loc8|          30|
|03/04/2019 20:38:07|       loc8|          27|
|03/04/2019 21:13:07|       loc8|          27|
|03/04/2019 23:38:07|       loc8|          26|
|03/05/2019 00:13:07|       loc8|          27|
|03/05/2019 00:28:07|       loc8|          31|
|03/05/2019 00:33:07|       loc8|          28|
|03/05/2019 00:48:07|       loc8|          32|
|03/05/2019 01:28:07|       loc8|          28|
|03/05/2019 01:38:07|       loc8|          29|
|03/05/2019 02:38:07|       loc8|          26|
|03/05/2019 04:18:07|       loc8|          30|
|03/05/2019 05:33:07|       loc8|          32|
|03/05/2019 08:18:07|       loc8|          29|
|03/05/2019 09:03:07|       loc8|          33|
|03/05/2019 09:58:07|       loc8|          26|
|03/05/2019 10:18:07|       loc8|          26|
|03/05/2019 10:48:07|       loc8|          29|
|03/05/2019 11:53:07|       loc8|          33|
+-------------------+-----------+------------+
only showing top 20 rows

In [55]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [61]:
df1.sort("location_id", ascending=False).show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:25|      loc99|          33|
|03/04/2019 21:28:25|      loc99|          33|
|03/04/2019 19:53:25|      loc99|          34|
|03/04/2019 19:58:25|      loc99|          32|
|03/04/2019 20:03:25|      loc99|          32|
|03/04/2019 20:08:25|      loc99|          31|
|03/04/2019 20:13:25|      loc99|          37|
|03/04/2019 20:18:25|      loc99|          35|
|03/04/2019 20:23:25|      loc99|          31|
|03/04/2019 20:28:25|      loc99|          34|
|03/04/2019 20:33:25|      loc99|          32|
|03/04/2019 20:38:25|      loc99|          34|
|03/04/2019 20:43:25|      loc99|          36|
|03/04/2019 20:48:25|      loc99|          34|
|03/04/2019 20:53:25|      loc99|          33|
|03/04/2019 20:58:25|      loc99|          32|
|03/04/2019 21:03:25|      loc99|          32|
|03/04/2019 21:08:25|      loc99|          31|
|03/04/2019 21:13:25|      loc99|          37|
|03/04/2019 21:18:25|      loc99|          32|
+-------------------+-----------+------------+
only showing top 20 rows

Use OrderBy to sort a data set in order. desc() method sorts in descending

In [63]:
df1.orderBy(df1["location_id"].desc()).show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:25|      loc99|          33|
|03/04/2019 21:28:25|      loc99|          33|
|03/04/2019 19:53:25|      loc99|          34|
|03/04/2019 19:58:25|      loc99|          32|
|03/04/2019 20:03:25|      loc99|          32|
|03/04/2019 20:08:25|      loc99|          31|
|03/04/2019 20:13:25|      loc99|          37|
|03/04/2019 20:18:25|      loc99|          35|
|03/04/2019 20:23:25|      loc99|          31|
|03/04/2019 20:28:25|      loc99|          34|
|03/04/2019 20:33:25|      loc99|          32|
|03/04/2019 20:38:25|      loc99|          34|
|03/04/2019 20:43:25|      loc99|          36|
|03/04/2019 20:48:25|      loc99|          34|
|03/04/2019 20:53:25|      loc99|          33|
|03/04/2019 20:58:25|      loc99|          32|
|03/04/2019 21:03:25|      loc99|          32|
|03/04/2019 21:08:25|      loc99|          31|
|03/04/2019 21:13:25|      loc99|          37|
|03/04/2019 21:18:25|      loc99|          32|
+-------------------+-----------+------------+
only showing top 20 rows